<header>
    <a routerLink="/">
        <img src="assets/imgs/y18.gif" alt="Hacker News">
    </a>
    
    <a routerLink="/news">
        <h1>Hacker News</h1>
    </a>
    <nav>
        <a routerLink="/new" (click)="setTab('new')" [ngStyle]="{'color': tab == 'new' ? 'white' : 'black'}">new</a> |
        <a>past</a> |
        <a>comments</a> |
        <a routerLink="/ask" (click)="setTab('ask')" [ngStyle]="{'color': tab == 'ask' ? 'white' : 'black'}">ask</a> |
        <a routerLink="/show" (click)="setTab('show')" [ngStyle]="{'color': tab == 'show' ? 'white' : 'black'}">show</a> |
        <a routerLink="/jobs" (click)="setTab('jobs')" [ngStyle]="{'color': tab == 'jobs' ? 'white' : 'black'}">jobs</a> |
        <a>submit</a>
    </nav>
<a class="login-btn">login</a>
</header>
