@import "src/styles.scss";

.add-comment-container {
  margin: 10px 20px;
  color: $meta-color;
  font-size: 7pt;
  p {
    padding: 15px 0px;
    a {
      color: $meta-color;
    }
  }
  button {
    font-size: 10pt;
    font-family: monospace;
    padding: 1px 7px;
  }
}
